body {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif
}

section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

nav {
    color: #565959;
    font-weight: bold;
    margin: 10px 0 20px 0
}

nav a {
    text-decoration: none;
    color: #565959;
    font-weight: bold;
}

img {
    height: 100%;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 14px;
    margin: -10px 0 10px 0;
    font-size: 17px;
    font-weight: normal;
}

h3 {
    margin: 10px 0 -5px 0;
}

a {
    color: #007185;
}

.container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 600px;
    border: 3px solid black;
    padding: 30px 30px 55px 30px;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
}

.star-rating .star {
  color: #ccc; /* Default color for unselected stars */
  font-size: 24px;
  cursor: pointer;
}

.star-rating .star.filled {
  color: gold; /* Color for selected stars */
}
