body {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif
}

section {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px;
}

nav {
    color: #565959;
    font-weight: bold;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #565959;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    margin: -10px 0 10px 0;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
}

.star-rating .star {
  color: #ccc; /* Default color for unselected stars */
  font-size: 24px;
  cursor: pointer;
}

.star-rating .star.filled {
  color: gold; /* Color for selected stars */
}
