body {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif
}

section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

nav {
    color: #565959;
    margin: 10px 0 20px 0;
    font-size: 14px;
}

nav a {
    text-decoration: none;
    color: #565959;
}

img {
    height: 100%;
}

h1 {
    font-size: 37px;
    margin-top: 10px;
}

h2 {
    font-size: 14px;
    margin: -10px 0 10px 0;
    font-size: 17px;
    font-weight: normal;
}

h3 {
    margin: 10px 0 0 0;
}

p {
    font-size: 18px;
    margin: 12px 0;
}

a {
    color: #007185;
}

.container {
    display: flex;
    flex-direction: row;
    width: 960px;
    height: 550px;
    border: 3px solid black;
    padding: 30px 30px 55px 30px;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
}

.star-rating {
    position: relative; /* Essential for positioning the arrow */
    display: inline-flex; /* Or flex, depending on your layout */
    /* Other star rating styles */
}

.star-rating .star {
    color: #ccc; /* Default color for unselected stars */
    font-size: 24px;
    cursor: pointer;
  text-shadow: -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray, 1px 1px 0 gray;
}

.star-rating .star.filled {
    color: gold; /* Color for selected stars */
  text-shadow: -1px -1px 0 goldenrod, 1px -1px 0 goldenrod, -1px 1px 0 goldenrod, 1px 1px 0 goldenrod; /* Creates a border */
}

.rating-arrow {
    margin: 2px 10px;
    align-items: end;
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* Adjust size as needed */
    border-right: 10px solid transparent;
    border-bottom: 10px solid #565959; /* Color of the arrow */
    transform: translateY(50%); /* Fine-tune centering */
    pointer-events: none; /* Prevents arrow from interfering with clicks */
}
